mat-sidenav-container {
height: 100%;
}


mat-sidenav {
    width: 250px;
}

// .swimmerRegistrationButtons {
//     left: 50%;
//     transform: translate(-50%,0);
//     margin-bottom: 200px;
// }

.shorterCards {
margin: 10px;
 height: 300px;
 overflow: scroll;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h3 {
    text-align: center;
}

.swimmersShortenCardInfo {
    margin-left: 10px;
}

form {
    width: 90%;
    margin:0 auto;
}

.cards {
   margin: 20px;
}

button {
    margin: 5px;
}

mat-spinner {
    margin: auto;
  }