<div class = 'homeDiv'>
    გამარჯობა 
    <span>{{userName}}!</span>
    <div *ngIf="!userIn">
        <div>პროგრამაში რეგისტრაციისთვის საჭიროა ერთჯერადი აქტივაციის კოდი. </div>
        <div>აქტივაციის კოდის მისაღებად გთხოვთ დაგვიკავშირდეთ ნომერზე +995 598 780 075</div>
    </div>
    <div *ngIf="userIn">
        <div>პროგრამაში გამოყენებული შედეგები აღებულია მაგალითისთვის, მხოლოდ 2021 წელს ჩატარებული უფროსი ასაკის შეჯიბრებებიდან.</div>
        <div>შეგიძლიათ მომდევნო შეჯიბრებზე დარეგისტრირება და თქვენს მიერ უკვე დარეგისტრირებული სპორცმენების მონცემების შეცვლა მხოლოდ მითითებულ დედლაინამდე</div>
        <div>გისურვებთ წარმატებებს!</div>
    </div>
</div>