<div class="card">
    <div class="header">
        <div>შეჯიბრის დასახელება:</div>
        <div><h3>{{compName}}</h3></div>
    </div>
    <form [formGroup]="swimmerRegistrationCardForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>დისტანცია</mat-label>
            <mat-select formControlName="distance">
                <mat-option disabled *ngFor="let item of distances" [value]="item.value">
                    {{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>სტილი</mat-label>
            <mat-select formControlName="style">
                <mat-option disabled *ngFor="let item of styles" [value]="item.value">
                    {{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label >გვარი:</mat-label>
            <input readonly type="text" matInput formControlName="lastname" class="form-control">
            <mat-hint style="color:red;"
                *ngIf="swimmerRegistrationCardForm.get('lastname')?.touched  && swimmerRegistrationCardForm.get('lastname')?.errors?.['required']">
                გვარის შეყვანა აუცილებელია
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label >სახელი:</mat-label>
            <input readonly type="text" matInput formControlName="name" class="form-control">
            <mat-hint style="color:red;"
                *ngIf="swimmerRegistrationCardForm.get('name')?.touched  && swimmerRegistrationCardForm.get('name')?.errors?.['required']">
                სახელის შეყვანა აუცილებელია
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="form-group">
            <mat-label >დაბ.წელი:</mat-label>
            <input type="text" matInput formControlName="age" class="form-control">
            <mat-hint style="color:red;"
                *ngIf="errorsOn &&  swimmerRegistrationCardForm.get('age')?.errors?.['required'] || swimmerRegistrationCardForm.get('age')?.touched  && swimmerRegistrationCardForm.get('age')?.errors?.['required']">
                დაბ.წელის შეყვანა აუცილებელია
            </mat-hint>
            <mat-hint style="color:red;"
                *ngIf="errorsOn &&  swimmerRegistrationCardForm.get('age')?.errors?.['oldGuyError'] || swimmerRegistrationCardForm.get('age')?.touched  && swimmerRegistrationCardForm.get('age')?.errors?.['oldGuyError']">
                ამხელა კაცს სტარტზე-ჰოპს ვერ ვაკადრებ მეგობარო!
            </mat-hint>
            <mat-hint style="color:red;"
                *ngIf="errorsOn &&  swimmerRegistrationCardForm.get('age')?.errors?.['childError'] || swimmerRegistrationCardForm.get('age')?.touched  && swimmerRegistrationCardForm.get('age')?.errors?.['childError']">
                ცოტა წამოიზარდოს და თავიდან სცადეთ!
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label for="club">კლუბი</mat-label>
            <input type="text" [matAutocomplete]="kkk" matInput formControlName="club" class="form-control">
                <mat-autocomplete #kkk="matAutocomplete">
                            <mat-option (click)="fun" *ngFor="let item of CLUBnames" [value]="item.name">
                                {{item.name}}
                            </mat-option>
                 </mat-autocomplete>
          
            

            <mat-hint style="color:red;"
                *ngIf="errorsOn &&   swimmerRegistrationCardForm.get('club')?.errors?.['required'] || swimmerRegistrationCardForm.get('club')?.touched  && swimmerRegistrationCardForm.get('club')?.errors?.['required']">
                კლუბის შეყვანა აუცილებელია
            </mat-hint>
        </mat-form-field>

        <mat-radio-group formControlName="gender">
            <mat-label >სქესი:</mat-label>
            <mat-radio-button value="male">კაცი</mat-radio-button>
            <mat-radio-button value="female">ქალი</mat-radio-button>
            <mat-hint style="color:red;"
            *ngIf="errorsOn &&   swimmerRegistrationCardForm.get('gender')?.errors?.['required'] ||swimmerRegistrationCardForm.get('gender')?.touched  && swimmerRegistrationCardForm.get('gender')?.errors?.['required']">
            სქესის არჩევა აუცილებელია
        </mat-hint>
        </mat-radio-group>
       

        <mat-form-field class="form-group">
            <mat-label >შედეგი:</mat-label>
            <!-- თუ წინასწარი შედეგი არსებობს -->
            <input *ngIf="result" readonly type="text" matInput type="text" placeholder="01:01.01" formControlName="result"
                class="form-control">
                 <!-- თუ წინასწარი შედეგი არ არსებობს -->
                <input *ngIf="!result" type="text" matInput type="text" placeholder="01:01.01" formControlName="result"
                class="form-control">
            <mat-hint style="color:red;"
                *ngIf=" errorsOn && swimmerRegistrationCardForm.get('result')?.errors?.['required'] || swimmerRegistrationCardForm.get('result')?.touched  && swimmerRegistrationCardForm.get('result')?.errors?.['required']">
                შედეგის შეყვანა აუცილებელია
            </mat-hint>
            <mat-hint style="color:red;"
                *ngIf=" errorsOn && swimmerRegistrationCardForm.get('result')?.errors?.['minlength'] || swimmerRegistrationCardForm.get('result')?.touched  && swimmerRegistrationCardForm.get('result')?.errors?.['minlength']">
                შეყვანილი შედეგის ფორმატი არასწორია. სწორი ფორმატი - 01:01.01
            </mat-hint>
            <mat-hint style="color:red;"
                *ngIf=" errorsOn && swimmerRegistrationCardForm.get('result')?.errors?.['maxlength'] || swimmerRegistrationCardForm.get('result')?.touched  && swimmerRegistrationCardForm.get('result')?.errors?.['maxlength']">
                შეყვანილი შედეგის ფორმატი არასწორია. სწორი ფორმატი - 01:01.01
            </mat-hint>
            <mat-hint style="color:red;"
            *ngIf=" errorsOn && swimmerRegistrationCardForm.get('result')?.errors?.['twoDotsError'] || swimmerRegistrationCardForm.get('result')?.touched  && swimmerRegistrationCardForm.get('result')?.errors?.['twoDotsError']">
               შეყვანილი შედეგის ფორმატი არასწორია. სწორი ფორმატი - 01:01.01
        </mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="bestResultCompName" class="form-group">
            <mat-label for="bestResultCompName">შეჯიბრი:</mat-label>
            <input readonly type="text" matInput formControlName="bestResultCompName"
                class="form-control">
        </mat-form-field>

        <mat-form-field *ngIf="bestResultCompDate" class="form-group">
            <mat-label >რიცხვი:</mat-label>
            <input readonly type="text" matInput formControlName="bestResultCompDate"
                class="form-control">
        </mat-form-field>
        <div>
        </div>
    </form>
    <button mat-raised-button color="warn" type="button" (click)="deleteCard()" class="delete">ბარათის
        წაშლა </button>
</div>