form {
    display: flex;
    position: relative;
}

mat-form-field {
    width: 300px;
}

.header {
    margin-bottom: 5px;
}

form {
    // border: 2px solid black;
    // max-width: 1200px;
    // border-radius: 8px;
    // margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // margin: 20px;
    // padding: 10px;
}

.card {
    text-align: center;
    border: 2px solid black;
    max-width: 1200px;
    border-radius: 8px;
    margin: 0 auto;
    margin: 20px;
    padding: 10px;
}