mat-toolbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.leftMenu span {
    margin: 10px;
}

.rightMenu span {
    margin: 10px;
}

b {
    font-size: 20px;
}





