table {
    width: 100%;
}

  .table {
    position: relative;
    top: 10%;
    left: 10%;
width: 80%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
text-align: center;
  }

  mat-spinner {
    top: 200px;
    margin: auto;
  }